services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped

    ports:
      - "0.0.0.0:9100:9100" # Écoute sur toutes les interfaces

    volumes:
      - ./output:/textfile-metrics:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

    command:
      - '--path.procfs=/host/proc' # Spécifie le chemin vers /proc de l'hôte
      - '--path.sysfs=/host/sys' # Spécifie le chemin vers /sys de l'hôte
      - '--path.rootfs=/rootfs' # Spécifie le chemin vers la racine de l'hôte
      - '--collector.textfile.directory=/textfile-metrics' # Répertoire pour les métriques personnalisées
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)' # Exclure certains points de montage
      - '--web.listen-address=0.0.0.0:9100' # Écoute sur toutes les interfaces

    network_mode: host  # Utiliser le réseau de l'hôte pour accéder aux métriques système
  audit:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: system-audit

    # variabales d'environnement pour la connexion SSH (utilisé par le script Ruby)
    environment:
      # Pour Linux : utiliser l'IP du bridge Docker
      - TARGET_HOST=172.17.0.1 # adresse de la machine hôte depuis le conteneur 
      - TARGET_USER=root # utilisateur SSH 
      - SSH_KEY_PATH=/root/.ssh/id_rsa # chemin vers la clé privée SSH dans le conteneur

    volumes:
      - ./ssh-keys/id_rsa:/root/.ssh/id_rsa:ro # Montage de la clé SSH privée en lecture seule
      - ./output:/output # Montage du répertoire de sortie

    # Utiliser le réseau par défaut de Docker
    network_mode: bridge
